<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PyGotham Financial Aid and Scholarships</title>

    <meta name="description" content="Apply for financial aid or a scholarship to attend PyGotham">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2">
        <a href="#">I'd like a ticket</a>
      </div>
      <div class="w-full md:w-1/2">
        <a href="#">I'd like travel reimbursement, lodging, and/or a ticket</a>
      </div>
    </div>
  </body>
</html>
